.user-home {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-background);
}


#container-favoritos {
    width: 100%;
}

#container-filtro {
    width: 50%;
    margin: 15px auto;
}

@media only screen and (max-width: 600px) {
    #container-filtro {
        width: 90%;
    }
    
}