#view-entrar {
    width: 100%;
    padding: 50px 0;
    background: var(--color-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container-form {
    width: 45%;
    margin: 15px auto;
    box-shadow: 0px 0px 13px black;
    border-radius: 24px;
    padding: 12px;

}


@media only screen and (max-width: 600px) {
    #view-entrar div {
        width: 95%;
    }
    
    
}