.corpo-aplicacao {
    width: 100%;
    background: var(--color-secundary-gradient);
    padding-top: 120px;
    padding-bottom: 120px;
}

@media only screen and (min-width: 600px) {

    .corpo-aplicacao {
        padding-top: 90px;
    }
}