h2{
    color:white;
    margin:10px;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
}
.view-header-agendamento{
    display:flex;
    justify-content: space-around;
}
.view-agendamento{
    display:flex; 
    flex-wrap:wrap;
}
/*btn*/
.btn-print{
    padding: 3px;
    background-color: white;
    border:none;
    border-radius: 3px;
    box-shadow: 3px 3px 10px;
    margin:10px;    
    width: 30px;
    height: 30px;
}
.btn-print:hover{
    cursor:pointer;
    background-color:rgb(14, 97, 51);
    color:white
}
/*btn*/