.view-adm-cards{
    margin-top:10px;
    font-family: 'Potta One';
    display: flex;
    flex-wrap: wrap;
}
.view-header-adm{
    display:flex;
    justify-content: space-around;

}
.cardPrincipal{
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    margin:5px;
    background-color: var(--color-background);
    color: var(--color-primary);
}
.cardPrincipal:hover{
    box-shadow: 2px 2px 5px var(--color-segundary);
}
.boxGraph{
    align-items: center;
    background-color:white;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow: auto;
    word-wrap: break-word;
    /* padding:5px; */
}
.titleDashboard{
    text-align: center;
    color:white;
    margin-top: 10px;
}
 .subtitleDashboard{
    text-align: center;
    color:white;
    margin-top: 10px;
    justify-items: center;
}
.view-feedback{
    overflow:scroll;
    height: 300px;
}
.cardFooter{
    font-size: 12px;
}

/*btn*/
.btn-print{
    padding: 3px;
    background-color: white;
    border:none;
    border-radius: 3px;
    box-shadow: 3px 3px 10px;
    margin:10px;    
    width: 30px;
    height: 30px;
}
.btn-print:hover{
    cursor:pointer;
    background-color:rgb(14, 97, 51);
    color:white
}
/*btn*/