.user-perf {
    width: 100%;
    background: var(--color-background);
    padding: 5px 0;
}

.user-perf section {
    width: 90%;
    margin: 25px auto;
}

/* PRIMEIRA SECTION */
.user-perf section:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.info-g {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.profile-icon {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #ccc;
    padding: 5px;
    box-shadow: 0px 0px 3px black;
}
.info-g div:first-child {
    width: 30%;
}
.info-g div:last-child {
    width: 70%;
}
.info-g div:last-child span {
    display: block;
    font-size: var(--font-n);
    font-weight: bolder;
    text-shadow: 0px 0px 1px black;
    padding: 5px;
}

.info-c {
    width: 30%;
    background: var(--color-primary);
    text-shadow: 0px 0px 3px black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    padding: 8px;
}

.info-c span {
    display: block;
    color: var(--color-text); 
}
.info-c span:first-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    text-align: center;
    font-size: var(--font-l);
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {

    .info-g, .info-c {
        width: 90%;
        margin: 5px auto;
    }

    .info-g div:first-child {
        width: 35%;
        
    }
    .info-g div:last-child {
        width: 65%;
    }
}

/* SEGUNDA SECTION */
.user-perf section:nth-child(2) div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.user-perf section:nth-child(2) div:first-child h2 {
    width: 100%;
}
.user-perf section:nth-child(2) div:first-child span {
    padding: 5px 15px;
    font-size: var(--font-l);
    font-weight: bolder;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 5px;
}

/* TERCEIRA SECTION */
.user-perf section:last-child {
    display: flex;
    flex-wrap: wrap;
}
