.view-home section {
    width: 90%;
    margin: 25px auto;
    padding: 15px 0;
    border-bottom: 2px solid var(--color-primary);
    
}

.view-home section h1 {
    font-size: var(--font-xl);
    font-family: 'Potta One';
    padding: 0 5px;
    color: var(--color-text);
    text-shadow: 0px 0px 3px black;
}


.destaque {
    font-size: var(--font-xl);
    font-family: 'Potta One';
    padding: 0 5px;
    color: var(--color-primary);
}

.destaque-alt {
    font-size: var(--font-xl);
    font-family: 'Potta One';
    padding: 0 5px;
    color: var(--color-alternate);
}

.subtitle {
    font-size: 32px;
    color: var(--color-title);
    font-weight: 600;
    text-shadow: 0px 0px 1px black;
} 
.view-home ul li {
    
}
.view-home p {
    font-size: var(--font-n);
    padding: 0 5px;
    text-shadow: 0px 0px 1px black;
    text-align: center;
    display: block;
}

.view-home li{
    padding: 10px 5px;
}

.agentes-blocos-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.agentes-bloco {
    width: 80%;
    margin: 10% auto;
    padding: 5px;
    max-width: 400px;
    box-shadow: 0px 0px 13px black;
    background: var(--color-background);
    border-radius: 24px;
}

.view-home h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 10px;
    text-transform: uppercase;
}