nav {
    z-index:2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 60px;
    box-shadow: 0px -3px 3px black;
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    text-align: center;
    width: 25%;
    height: 100%;
    font-size: var(--font-n);
    font-weight: 700;
    color: var(--color-text);
    padding: 10px;
}

nav a:hover {
    background: var(--color-secundary);
    box-shadow: 0px 0px 12px var(--color-secundary);
    color: var(--color-primary);
}


@media only screen and (min-width: 600px) {
    nav {
        position: relative;
        width: 50%;
        height: 100%;
        max-height: 100px;
        background: var(--color-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: unset;
    }
}

